@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }
}

@layer components {
  .container-max {
    @apply max-w-6xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}

